{% extends "base.html" %}

{% block content %}

<div align="center" class="Estilo2" style="Z-INDEX: 107; LEFT: 355px; POSITION: absolute; TOP: 60px; width: 800px; height: 18px;"> 
      Agregar una asignatura<br><br>
    <form method="post" action="">
        <table>
            <tr>
               <td> {{form.seccion.label_tag }} :</td>
               <td> {{form.seccion}}</td>
            </tr>
            <tr>
               <td> {{form.periodos.label_tag }} :</td>
               <td> {{form.periodos}}</td>
            </tr>
            <tr>
               <td> {{form.ano.label_tag }} :</td>
               <td> {{form.ano}}</td>
            </tr>
            <tr>
               <td> {{form.carrera.label_tag }} :</td>
               <td> {{form.carrera}}</td>
            </tr>
            <tr>
                <td>{{form.ramo.label_tag }} :</td>
                <td>{{form.ramo}}</td>
            </tr>
            <tr>
                <td>{{form.profesor.label_tag }} :</td>
                <td>{{form.profesor}}</td>
            </tr>
        </table>
        <input type="submit" value="Agregar Asignatura" />
    </form>
</div>
{% endblock %}
