{% extends "base.html" %}

{% block content %}

<div align="center" class="Estilo2" style="Z-INDEX: 107; LEFT: 355px; POSITION: absolute; TOP: 60px; width: 800px; height: 18px;"> 
      El alumno passo el ramo<br><br>
    <form method="post" action="">
        <table>
            <tr>
               <td> {{form.alumno.label_tag }} :</td>
               <td> {{form.alumno}}</td>
            </tr>
            <tr>
               <td> {{form.ramo.label_tag }} :</td>
               <td> {{form.ramo}}</td>
            </tr>
        </table>
        <input type="submit" value="El Alumno passo el ramo" />
    </form>
    {% if added %}
        <p style='font-size:14;'>{{added}}</p>
    {%endif%}
           
</div>
{% endblock %}
