<html>
<head>
<title>Gestion Profesores</title>
</head>
<body 
{
	<body background="http://perfecthue.com/images/uploads/graphic/wallpaper/bluewave_white_1600x1200.jpg"> 
}
Ver lista de alumnos segun promoción o asignatura.

<div class="column grid_4">
   <form id="accesos" action="">
     <select name="sitio" onchange="window.location = 
(document.forms.accesos.sitio[document.forms.accesos.sitio.selectedIndex].value);">
        <option>Promoción</option>
                <optgroup label="Año">
				
		<option value=>2000</option>				
                <option value=>2001</option>
                <option value=>2002</option>				
                <option value=>2003</option>
                <option value=>2004</option>				
                <option value=>2005</option>
                <option value=>2006</option>				
                <option value=>2007</option>
                <option value=>2008</option>				
                <option value=>2009</option>
                <option value=>2010</option>

               </optgroup>
<div class="column grid_4">
 <form id="accesos" action="">
     <select name="sitio" onchange="window.location = 
(document.forms.accesos.sitio[document.forms.accesos.sitio.selectedIndex].value);">
           <option>Asignatura</option>
                <optgroup label="Semestre">
				
		<option value=>I</option>
		<option value=>II</option>
                <option value=>III</option>				
                <option value=>IV</option>
                <option value=>V</option>				
                <option value=>VI</option>
                <option value=>VII</option>				
                <option value=>VIII</option>
                <option value=>IX</option>				
                <option value=>X</option>
             

               </optgroup>
                
 <div class="column grid_3">


    <form action="http://gestiona.html" id="cse-search-box">

        <input type="hidden" name="cx" value="007837485970724940685:jph1jteb_y8" />
        <input type="hidden" name="cof" value="FORID:11" />
        <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="24"  />
        <input type="image" name="sa" src="../imgs/btn_buscar.jpg" alt="Buscar Alumno"  class="buscar" />
          <!--  <input type="submit" name="sa" value="Buscar" />-->
    </form>


  </div>





           </select>
    </form>
</div>	
  

</body>
</html>
